.Rproj.user
.Rhistory
.RData
.Ruserdata
data/images
testResults
Thumbs.db
desktop.ini
figures/Flower.png
Presentation1.pptx
~$Presentation1.pptx
litteratur
figures/AnnotationExamples.psd
figures/AnnotationExamples_2.png
figures/AnnotationExamples.png
src/_Archive
literature
sort
testResults/_archive
text/_Archive
figures/_Archive
_Archive